.cart {
    margin-bottom: 30px;
}

.checkoutFooter {
    position: sticky;
    bottom: 0;
    z-index: 100;
    margin: 0 auto;
}

.cart-header {
    display: flex;
    align-items: center;
    justify-content: right;
    position: sticky;
    top: 82px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 40px;
    z-index: 5;
}

button.add-pizza-btn {
    font-size: 25px;
}

h3.cart-title {
    display: flex;
    justify-content: center;
}

.pizza-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
}

.pizza-item {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 400px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    background: white;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #DAD7D1;
}

.pizza-name-and-btns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-top: 15px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.pizza-details {
    height: 200px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.my-card-footer{
    display: flex;
    align-items: center;
    justify-content: center;
}
