.cart {
    margin-bottom: 30px;
}

.checkoutFooter {
    position: relative;
    bottom: 0;
    width: 70vw;
    z-index: 100;
    padding: 10px;
    margin: 0 auto;
}

button.add-pizza-btn {
    font-size: 25px;
}

.cart-header {
    position: sticky;
    top: 82px;
}

.pizza-list {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center;
    margin: 0 auto;
}

.pizza-item {
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 250px;
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.pizza-name-and-btns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 5px;
}

