.total-cart-price-and-place-order-btn {
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 20px;
}

#total-cart-price {
    font-size: 35px;
}

#place-order-btn {
    font-size: 30px;
    box-shadow: 2px 2px 5px #DAD7D1;
}