.selector-titles {
    display: flex;
    justify-content: center;
}

.size-selector {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.toppings-selector {
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
    justify-content: center;
}

.topping-btn {
    width: 200px;
}

.topping-button-contents {
    display: flex;
    align-items: center;
}

.topping-image {
    object-fit: contain;
    width: 70px;
    margin-right: 10px;
    border-radius: 5px;
}

.pizza-total-price {
    position: sticky;
    bottom: 80px;
    display: flex;
    justify-content: right;
}