#root, body {
    font-family: 'Caveat', 'Open Sans', sans-serif;
    background-color: white;
}

* {
    font-size: 20px;
    font-weight: 900;
}


h1 {
    font-size: 50px;
}
h2 {
    font-size: 45px;
}
h3 {
    font-size: 40px;
}
h4 {
    font-size: 35px;
}
h5 {
    font-size: 30px;
}
h6 {
    font-size: 25px;
}